name: Publish

on:
  release:
    types: [ created ]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: 5.0.x

      - uses: actions/checkout@v2

      - name: .NET Publish
        run: |
          dotnet tool restore
          dotnet paket install
          dotnet publish -c Release -r linux-x64 --self-contained true /p:PublishSingleFile=true
          dotnet publish -c Release -r win-x64 --self-contained true /p:PublishSingleFile=true
          dotnet publish -c Release -r osx-x64 --self-contained true /p:PublishSingleFile=true

      - name: Upload Release Asset linux-x64
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: bin/Release/net5.0/linux-x64/publish/paket_to_bazel
          asset_name: paket_to_bazel_linux-x64
          asset_content_type: application/octet-stream

      - name: Upload Release Asset win-x64
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: bin/Release/net5.0/win-x64/publish/paket_to_bazel
          asset_name: paket_to_bazel_win-x64
          asset_content_type: application/octet-stream

      - name: Upload Release Asset osx-x64
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: bin/Release/net5.0/osx-x64/publish/paket_to_bazel
          asset_name: paket_to_bazel_osx-x64
          asset_content_type: application/octet-stream
